doctype
html(lang='en')
	head
		title Jacquin Wynn Jr. | Modern Resume
		meta(charset="utf-8")
		meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi")
			
		//Stylesheets
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", type="text/css")
		//Fonts
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Serif:400,700", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=La+Belle+Aurore", type="text/css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", type="text/css")


	body
		//======BEGINNING OF HEADER=======//
		div.header
			div.container-fluid
				.row
					.col-md-4
					.col-md-4
					.col-md-4.text-center#header-title Jacquin Wynn Jr. 	
		//=======END OF HEADER==============//			


		//============BEGINNING OF MAIN CONTENT==============//
		div.container-fluid
			.row
				.col-md-9.main-content
					h3 HELLO!
					.col-md-12.intro-text My name is Jacquin Wynn and for the last 2 and a half years I've been into developing websites and mobile apps. Over those couple of years my passion has grown significantly due to the knowledge I've obtainted. I enjoy the fact that you can take an idea from no where and build it into something that could possibly help the world. With my skills I know I can bring value to a potential company or client and also hope to build long lasting relationships.
					.row-fluid
						h4.main-content-titles#headline-title Education
						.col-md-12.education-section 
							.panel.panel-default
								.panel-body#panelbody
									.row
										.col-md-6#education-text
											ul
												li Community College of Allegheny County
												p Associates Degree in Computer Science (2014 - 2016)
												li Code Fellows - iOS Development
												p Coding Bootcamp (Feb 2015 - Mar 2015)
												li Thinkful.com - Front End Web Development
												p Online School (Nov 2014 - Feb 2015)
										.col-md-6#education-text
											ul
												li Various Online Courses
												p Treehouse (WordPress Development and PHP)
												p Lynda (Software Fundaments, Object Oriented Programming Principles)
												p Udacity (Front & Back End Development)
												p Coursera (Java Programming, Data Structures and Algorithms)

						h4.main-content-titles#headline-title Work Experience
						.col-md-12
							.panel.panel-default
								.panel-body#panelbody
									.row
										.col-md-12#education-text
											ul
												li KCK Beauty & Barber School, Jacksonville FL
												p
													| Web Developer 
													| <a href="http://kckbacademy.org">(http://kckbacademy.org/)</a>
													|| March 2015 - Present (On-going client)
												ul.education-list
													li Used CSS Framework Bootstrap to create custom website for KCK Beauty & Barber School
													li Set up social web presence installing Facebook, Instagram, and Google+ profiles.
													li Installed webmaster tools for tracking analysis (Google Analytics)
													li Monthly reports generated of tracking data
												li Encore Event Design, Pittsburgh PA
												p
													| Web Developer 
													|<a href="http://encoreeventdesign.com">(http://encoreeventdesign.com/)</a> 
													|| October 2015 - Present (On-going client)
												ul.education-list
													li Planned to redesign outdated website
													li Used CSS Framework Bootstrap to update layout and buttons
													li Converted to WordPress Platform for easier maintenance
													li Used SEO best practices
												li JMW Web & Mobile Design
												p
													| Personal Project |
													| <a href="http://jacwynn.com">(http://jacwynn.com/)</a>
												ul.education-list
													li Created a custom personal website with Bootstrap framework
													li Created layout for blog section
													li Used responsive web design principles
													li Optimized and minified source code with Gulp task runner for faster performance
				.col-md-3.side-content
					img.img-responsive.me(src="assets/images/me.png", width="250px", height="250px")
					.panel.panel-default#panels
						.panel-body#panelbody
							ul.social-icons
								li
									i.fa.fa-envelope.icon-padding
									a(href="mailto:jac@jacwynn.com", class="anchor") jac@jacwynn.com
								li
									i.fa.fa-linkedin.icon-padding
									a(href="https://www.linkedin.com/pub/jacquin-wynn/9b/8b0/146", class="anchor") LinkedIn
								li 
									i.fa.fa-twitter.icon-padding
									a(href="https://twitter.com/HoopStarr412" class="anchor") Twitter
								li
									i.fa.fa-facebook-official.icon-padding
									a(href="https://www.facebook.com/jacquin.wynn.3" class="anchor") FaceBook
								li
									i.fa.fa-instagram.icon-padding
									a(href="https://instagram.com/jacblac5/" class="anchor") Instagram
					h3.headlines SKILLS
					h4.sub-headlines Technical Skills
					h5.sub-headlines Front End Development (HTML/Jade, CSS/SASS, Javascript/Angular)
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 65%")
					h5.sub-headlines Back End Development (Java, Ruby, Node.js, Express.js)
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 55%")
					h5.sub-headlines WordPress Theme Development
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 75%")
					h5.sub-headlines Graphic Design (Photoshop, Fireworks)
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
					hr
					h4.sub-headlines#education-text Soft Skills
					h5.sub-headlines#education-text Communication
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 65%")
					h5.sub-headlines#education-text Teamwork
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 75%")
					h5.sub-headlines#education-text Problem-Solving
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 85%")
					h5.sub-headlines#education-text Research Skill
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 75%")

		//Scripts		
		script(src="assets/js/functions.js")
		script(src="assets/js/jquery-2.2.0.min.js") 