doctype
html(lang='en')
	head
		title Jacquin Wynn Jr. | Modern Resume
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, inital-scale=1")
			
		//Stylesheets
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", type="text/css")
		//Fonts
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Serif:400,700", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=La+Belle+Aurore", type="text/css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", type="text/css")


	body
		//======BEGINNING OF HEADER=======//
		div.header
			div.container-fluid
				.row
					.col-md-4
					.col-md-4
					.col-md-4.text-center#header-title Jacquin Wynn Jr. 	
		//=======END OF HEADER==============//			


		//============BEGINNING OF MAIN CONTENT==============//
		div.container-fluid
			.row
				.col-md-9.main-content
					h3 HELLO!
					.col-md-12.intro-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius et nisi in auctor. Donec placerat massa ut arcu pretium congue. Mauris condimentum tempus mattis. Aliquam erat volutpat. Nullam rhoncus, felis sit amet aliquet convallis, quam orci pulvinar purus, ac rhoncus erat tortor nec mi. Sed suscipit enimtellus, in eleifend sapien pulvinar quis. Donec pulvinar arcu a euismod semper. Donec magna turpis, ullamcorper a volutpat sed, placerat non sem.
					.row-fluid
						h4.main-content-titles Education
						.col-md-12.education-section 
							.panel.panel-default
								.panel-body#panelbody
									.row
										.col-md-6#education-text
											ul
												li Community College of Allegheny County
												p Associates Degree in Computer Science (2014 - 2016)
												li Code Fellows - iOS Development
												p Coding Bootcamp (Feb 2015 - Mar 2015)
												li Thinkful.com - Front End Web Development
												p Online School (Nov 2014 - Feb 2015)
												li Treehouse.com - Front & Back End Development
												p Various Online Courses
										.col-md-6#education-text
											ul
												li Lynda.com - Software Fundamentals, iOS Development
												p Online Courses (Apr 2015 - Current)
												li Udacity.com - iOS Development
												p Online Courses (Jul 2014 - Current)

						h4.main-content-titles Work Experience
						.col-md-12
							.panel.panel-default
								.panel-body#panelbody
									.row
										.col-md-12#education-text
											ul
												li KCK Beauty & Barber School Inc. (Web Developer)
												p March 2015 - June 2015 (Contract)
												ul.education-list
													li Created and managed a custom website using Bootstrap.
													li Set up social web presence installing Facebook, Instagram, and Google+ profiles.
													li Create and maintain back-ups.
													li Installed webmaster tools.
												li Freelance Client
												p June 2015 - August 2015
												ul.education-list
													li Created a custom personal website using Foundation framework
													li Set up hosting on server
													li Installed webmaster tools
												li Freelance Client
												p August 2015 - September 2015
												ul.education-list
													li Created a custom personal website with Bootstrap framework
													li Set up domain and hosting on server
													li Installed webmaster tools
												li Personal Project - Pitc Perfect
												p March 2015 - April 2015
												ul.education-list
													li Created an iOS app using AVFoundation frameworks to record, playback and manipulate voice.
													li Submitted app to the App Store.
												li Personal Project - Flickr Project
												p August 2015
												ul.education-list
													li Created a HTML structure for Flickr photos to be displayed.
													li Used AJAX to make request to Flickr's API.
													li Hosted files on Github pages
				.col-md-3.side-content
					img.img-responsive.me(src="assets/images/me.png", width="250px", height="250px")
					.panel.panel-default#panels
						.panel-body#panelbody
							ul.social-icons
								li
									i.fa.fa-envelope.icon-padding
									a(href="mailto:jacwynnjr@gmail.com", class="anchor") jacwynnjr@gmail.com
								li
									i.fa.fa-linkedin.icon-padding
									a(href="https://www.linkedin.com/pub/jacquin-wynn/9b/8b0/146", class="anchor") LinkedIn
								li 
									i.fa.fa-twitter.icon-padding
									a(href="https://twitter.com/HoopStarr412" class="anchor") Twitter
								li
									i.fa.fa-facebook-official.icon-padding
									a(href="https://www.facebook.com/jacquin.wynn.3" class="anchor") FaceBook
								li
									i.fa.fa-instagram.icon-padding
									a(href="https://instagram.com/jacblac5/" class="anchor") Instagram
					h3.headlines SKILLS
					h4.sub-headlines Technical Skills
					h5.sub-headlines HTML/CSS/Bootstrap
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines Javascript/AJAX/Angular.js/Node.js
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines UI/UX Design (Adobe Fireworks)
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines iOS Development
					.progress#progress
						.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					hr
					h4.sub-headlines#education-text Soft Skills
					h5.sub-headlines#education-text Communication
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines#education-text Teamwork
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines#education-text Problem-Solving
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
					h5.sub-headlines#education-text Research Skill
						.progress#progress
							.progress-bar#progressbar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")

		//Scripts		
		script(src="assets/js/functions.js")
		script(src="assets/js/jquery-2.2.0.min.js") 