@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
	body {
		margin: 0px !important;
		padding: 0px !important;
	}
	.me {
		display: none !important;
	}
	.main-content {
		height: 0%;
	}
	.side-content {
		height: 0%;
	}

}